.vscode
lex.yy.c
/src/lex.yy.c
output
/src/output
syntaxique.tab.c
/src/syntaxique.tab.c
syntaxiquel.tab.h
/src/syntaxique.tab.h
output.exe
/out/output
/out/syntaxique.tab.c
/out/syntaxique.tab.h
/out/lex.yy.c
